final.JSON
[{"id":"4ec8d2d2.17c1dc","type":"arduino out","z":"54968ed5.64fa2","name":"Base","pin":"9","state":"SERVO","arduino":"2f24691b.80d6b6","x":810,"y":500,"wires":[]},{"id":"b8f77360.9f177","type":"ui_slider","z":"54968ed5.64fa2","name":"","label":"Base","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":580,"y":400,"wires":[["81233747.c8bc88"]]},{"id":"8a0916f8.e38fd8","type":"arduino in","z":"54968ed5.64fa2","name":"VRyE","pin":"0","state":"ANALOG","arduino":"2f24691b.80d6b6","x":500,"y":640,"wires":[["b39e474.83f77b8","4ec8d2d2.17c1dc"]]},{"id":"b39e474.83f77b8","type":"debug","z":"54968ed5.64fa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":640,"wires":[]},{"id":"874b1e0d.700d1","type":"arduino in","z":"54968ed5.64fa2","name":"VRxE","pin":"1","state":"ANALOG","arduino":"2f24691b.80d6b6","x":510,"y":720,"wires":[["f41632f0.d506f"]]},{"id":"f41632f0.d506f","type":"arduino out","z":"54968ed5.64fa2","name":"Extensao","pin":"6","state":"SERVO","arduino":"2f24691b.80d6b6","x":950,"y":740,"wires":[]},{"id":"58f96a57.f00504","type":"ui_slider","z":"54968ed5.64fa2","name":"","label":"Extensao","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":700,"y":820,"wires":[["f41632f0.d506f"]]},{"id":"7a7ea3ad.a8dc2c","type":"mqtt in","z":"54968ed5.64fa2","name":"","topic":"Base","qos":"2","broker":"fea906dc.ce44f8","x":480,"y":500,"wires":[["4ec8d2d2.17c1dc"]]},{"id":"81233747.c8bc88","type":"mqtt out","z":"54968ed5.64fa2","name":"","topic":"Base","qos":"","retain":"","broker":"fea906dc.ce44f8","x":800,"y":400,"wires":[]},{"id":"386ac815.ef92c8","type":"arduino in","z":"54968ed5.64fa2","name":"VRxD","pin":"2","state":"ANALOG","arduino":"2f24691b.80d6b6","x":510,"y":980,"wires":[["7e79b5a6.a58b7c"]]},{"id":"7e79b5a6.a58b7c","type":"arduino out","z":"54968ed5.64fa2","name":"Altura","pin":"5","state":"SERVO","arduino":"2f24691b.80d6b6","x":940,"y":980,"wires":[]},{"id":"821aaac3.685ea8","type":"ui_slider","z":"54968ed5.64fa2","name":"Altura","label":"Altura","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":true,"topic":"Altura","min":"10","max":"180","step":1,"x":560,"y":1100,"wires":[["9c532bff.203938"]]},{"id":"9c532bff.203938","type":"mqtt out","z":"54968ed5.64fa2","name":"Altura","topic":"Altura","qos":"","retain":"","broker":"b066b06c.13e01","x":840,"y":1120,"wires":[]},{"id":"78ad480e.062658","type":"mqtt in","z":"54968ed5.64fa2","name":"Altura","topic":"Altura","qos":"2","broker":"b066b06c.13e01","x":610,"y":1040,"wires":[["7e79b5a6.a58b7c"]]},{"id":"a8304eae.cf236","type":"arduino in","z":"54968ed5.64fa2","name":"VRyD","pin":"3","state":"ANALOG","arduino":"2f24691b.80d6b6","x":520,"y":1220,"wires":[["ac8bb9a8.b7ebb8"]]},{"id":"ac8bb9a8.b7ebb8","type":"arduino out","z":"54968ed5.64fa2","name":"Garra","pin":"3","state":"SERVO","arduino":"2f24691b.80d6b6","x":1110,"y":1220,"wires":[]},{"id":"6e193d56.9f5ec4","type":"mqtt in","z":"54968ed5.64fa2","name":"Garra","topic":"Garra","qos":"2","broker":"fea906dc.ce44f8","x":600,"y":1300,"wires":[["ac8bb9a8.b7ebb8"]]},{"id":"6bf32c9b.966334","type":"ui_slider","z":"54968ed5.64fa2","name":"","label":"Garra","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":true,"topic":"Garra","min":0,"max":10,"step":1,"x":540,"y":1360,"wires":[["8a3f4046.a3508"]]},{"id":"8a3f4046.a3508","type":"mqtt out","z":"54968ed5.64fa2","name":"Garra","topic":"Garra","qos":"","retain":"","broker":"fea906dc.ce44f8","x":820,"y":1380,"wires":[]},{"id":"558eb9b3.b5ca68","type":"function","z":"54968ed5.64fa2","name":"Botao","func":"if (msg.payload==true){\n    msg.payload=\"80\";\n   \n}else{\n    \n    msg.payload=\"10\";\n    \n}\n return msg ;\n","outputs":1,"noerr":0,"x":730,"y":1520,"wires":[["f7aeb7de.e750c8","ac8bb9a8.b7ebb8"]]},{"id":"c42678fe.a4bc38","type":"arduino in","z":"54968ed5.64fa2","name":"Botão","pin":"2","state":"INPUT","arduino":"2f24691b.80d6b6","x":510,"y":1460,"wires":[["558eb9b3.b5ca68","ab0a06c3.e2e918"]]},{"id":"9fcb6fc1.0a7e","type":"ui_button","z":"54968ed5.64fa2","name":"","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Garra","x":530,"y":1520,"wires":[["558eb9b3.b5ca68"]]},{"id":"ab0a06c3.e2e918","type":"debug","z":"54968ed5.64fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1460,"wires":[]},{"id":"f7aeb7de.e750c8","type":"debug","z":"54968ed5.64fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1540,"wires":[]},{"id":"60130968.820b38","type":"ui_switch","z":"54968ed5.64fa2","name":"","label":"switch","group":"c2c849a.12440b8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":1600,"wires":[["558eb9b3.b5ca68"]]},{"id":"2f24691b.80d6b6","type":"arduino-board","z":"","device":"COM3"},{"id":"c2c849a.12440b8","type":"ui_group","z":"","name":"Garra robótica","tab":"b059f5c9.9d5e98","disp":true,"width":"6","collapse":false},{"id":"fea906dc.ce44f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b066b06c.13e01","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b059f5c9.9d5e98","type":"ui_tab","z":"","name":"Tab 2","icon":"dashboard","order":2}]